<p>registration works!</p>
<html>
<head>
</head>
<body>
<header >
<hr>
</header>
<header>
   
    
</header>
<article>
    <h1>Registration Page</h1> <hr>
    <fieldset>
        <legend>Registration Page</legend>
    <!--<form action="Home.html">-->
    <table>
    <tr>
        <td><label>Enter Name : </label></td>
        <td><input type="text" placeholder="Enter name" required autofocus pattern="[a-z]+"></td>
    </tr>
    
    <tr>
        <td><label>Enter Password : </label></td>
        <td><input type="password"></td>
    </tr>
    <tr>
        <td><label>Enter ConfirmPassword : </label></td>
        <td><input type="password"></td>
    </tr>
    <tr>
        <td><label>Select Gender </label></td>
        <td>M <input type="radio" name="g"> F <input type="radio" name="g"></td>
    </tr>
    
    <tr>
        <td><label>Select DOB </label></td>
        <td> <input type="date"> </td>
    </tr>
    
    <tr>
     

<td><label>Enter Email</label></td>
        <td> <input type="email"> </td>
    </tr>
    
    <tr>
        <td><label>Enter url</label></td>
        <td> <input type="url"> </td>
    </tr>
    
    <tr>
        <td><label>Enter number</label></td>
        <td> <input type="number" max="20" min="4" step="2" value=6> </td>
    </tr>
    <tr>
        <td><label>Enter Range</label></td>
        <td> <input type="Range" max="20" min="4" step="2" value=6> </td>
    </tr>
    
    <tr>
        <td><label>Enter month</label></td>
        <td> <input type="month"> </td>
    </tr>
    
    <tr>
        <td><label>Enter week</label></td>
        <td> <input type="week"> </td>
    </tr>
    
    <tr>
        <td><label>select color</label></td>
        <td> <input type="color"> </td>
    </tr>
    
    <tr>
        <td><label>select Nationality</label></td>
        <td> <select multiple>
    <option>Indian</option>
    <option>UK</option>
    
from BARATHI to everyone in this session:    12:19 PM
<option>US</option>
    <option>Others</option>       
    
        </select> </td>
    </tr>
    
    <tr>
        <td><label>Enter Description</label></td>
        <td> <textarea rows=5 cols=50></textarea>   </td>
    </tr>
    
    <tr>
        <td><label>Select Mode Communication</label></td>
        <td> Email<input type="checkbox"> SMS<input type="checkbox">Letter<input type="checkbox"></td>
    </tr>
    <input type="submit">
    </table>
    
    
    
    </fieldset>
    </article>
  
    
    
    
    </body>
