
<html>
<head>

</head>
<body>

    <header>
<h1>welcome To Angular Online!!!</h1>
<img scr="/assets/banner.jpg">
    </header>
    <nav>
<a routerLink = "/homepage" >homepage</a>
<a  routerLink = "/app-login">Loginpage</a>
<a  routerLink = "/app-registration">registration</a>
<a  routerLink = "/app-product">product</a>
<a  routerLink = "/app-buy">buy</a>
<a  routerLink = "/app-contactus">Contactus</a>
<a  routerLink = "/app-reachedout">reachedout</a>
<a  routerLink = "/app-services">service</a>

    </nav>
    <article>
        <router-outlet></router-outlet>
    </article>
    <footer>

    </footer>

</body>
</html>
