nav a
{
background-color: steelblue;
border: 2px solid orange;
color:white;
padding: 30px;
text-decoration: none;
}

nav a:hover{
    background-color: tomato;
border: 2px solid blueviolet;
color:yellow;
}

nav{
 margin-left: 300px;
}